body {
    margin: auto;
    background-color: aqua;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newForm>* {
    margin: 2%;
}

.item {
    border: 1px solid red;
    width: 80%;
    margin: 1% 0%;
    padding: 1%;
}

.item>* {
    margin-left: 1%;
}

.itemHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}